@*Liệt kê tất cả các service thuộc về Category đang lựa chọn
*@
@model HotelBLL.Models.MenuViewModel
<input type="hidden" value="@Model.RentID" id="txtRentId"/>
<table class="table table-striped">
        <tr>
            <td class="span2" >
            </td>
            <td class="span4">
                Tên dịch vụ
            </td>
            <td class="span2">
                Giá
            </td>
            <td class="span2">
                Số lượng
            </td>
            <td class="span2" >
            </td>
        </tr>
    <tbody>
        @foreach (var item in Model.Products)
        {
            <tr>
                <td>
                    <img src="/Content/imgs/product/@item.PicURL" width="20" height="20"/>
                </td>
                <td >
                    @item.ProductName
                </td>
                <td >@item.Price.ToString("N0")
                </td>
                <td>
                    <input type="text" id='txtQuantity-@item.ProductID' value="1" class="input-mini" style="margin-bottom: 0px" />
                </td>
                <td>
                    <button class="btn btn-info btn-mini"  onclick="addItem(@item.ProductID, @item.Price)">
                        Chọn</button>
                </td>
            </tr>
                     
        }
    </tbody>
</table>
