@model HotelBLL.Models.ServiceViewModel
@{
    Layout = null;
}


<div id="formPhuThu">
    <legend>Phòng @Model.Rent.Room.RoomName - Dịch vụ</legend>
    <input type="hidden" value="@Model.Rent.RentID" id="txtRentId" />
        
            <fieldset style="width: 350px; float:left" >
                <div class="control-group" style="width: 350px">
                   
                    <h5>Thêm món</h5>
                    <label>
                        Chọn mục</label>
                    
                        @Html.DropDownList("cboCategories", new SelectList(Model.Categories, "CateID", "CateName"), "Tất Cả", new { onchange = "LoadItemByCategory(this)", data_rentid = @Model.Rent.RentID, id = "cboCategory" })
                    
                </div>
                <div id="wrapMenu" class="table-max-size">
                </div>
                <div class="control-group">
                    <div class="controls" style="margin-top: 30px;  padding-bottom:30px">
                        
                        <a href="#" class="btn" onclick="CloseWindowsFromAjax()">Đóng</a>
                    </div>
                </div>
            </fieldset>
       
   
    
    <fieldset class="rightPanel" style="width: 350px; float: left; padding-left: 50px ">
        <h5>Dịch vụ</h5>
           @Html.Action("LoadItems", "Service", new { txtRentId = @Model.Rent.RentID, editable = true })
       
    </fieldset>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var cboCategory = document.getElementById("cboCategory");
        LoadItemByCategory(cboCategory);
        $("#wrapOrderTable").mCustomScrollbar();
    });
</script>
