@using HotelDAL;
@model HotelDAL.Room

@{
    Rent rent = null;
    int rid = -1;

    if (Model.Rents.Count > 0)
    {
        rent = Model.Rents.Where(r => r.RentStatus == (int)RentStatusEnum.InStay).OrderByDescending(r => r.RentID).FirstOrDefault();
    }
    
    
    String statusClass = "aRoomAvailable";
    String status = "Phòng trống";
    bool isAvailable = (rent == null) || (Model.RoomStatus == (int)@RoomStatusEnum.Ready);

    int rentType = -1;
    
    if (!isAvailable)
    {
        rentType = rent.RentType;
        rid = rent.RentID;
        if (rentType == (int)RentTypeEnum.Day)
        {
            statusClass = "aRoomBusy-Day";
            status = "Thuê ngày";
        }
        else if (rentType == (int)RentTypeEnum.Hour)
        {
            statusClass = "aRoomBusy-Hour";
            status = "Thuê giờ";
            
        }
        else
        {
            statusClass = "aRoomBusy-Night";
            status = "Qua đêm";
        }
    }
}


@if (isAvailable)
{
    <div id="r-@Model.RoomID" class="aRoom thumbnail @statusClass btn" onclick="ShowBookingForm(@Model.RoomID,@Model.RoomName)" title="@status" data-rentType=@rentType > 
    <h3 class="roomStatus">@Model.RoomName</h3>
    </div>
}   
else
{
   <div id="r-@Model.RoomID" class="aRoom thumbnail @statusClass btn" onclick="ShowRent(@rid)" title="@status" data-rentType=@rentType > 
    <h3 class="roomStatus">@Model.RoomName</h3>
    </div>
} 


   
                                                             
       