@using HotelDAL
@model Rent
@{
    Layout = null;
}

<div id="formThanhToan" style="width: 840px !important;">
    <input type="hidden" value="@Model.RoomID" id="txtRoomId" />
    <div>
        <input type="hidden" id="current-roomid" value="@Model.RoomID"/>
        <h4>
            Phòng @Model.Room.RoomName - Thanh Toán</h4>
        <fieldset style="float: left; padding: 5px;">
            <h5>
                Thông tin thuê phòng</h5>
            <div class="control-group">
                <label>
                    Mã số phiếu</label>
                <div class="controls">
                    <input type="text" name="txtCustomerName" value="@Model.InvoiceID" disabled="disabled"/>
                </div>
            </div>
            <div class="control-group">
                <label>
                    Thời điểm vào</label>
                <div class="controls">
                    @{
                        string sCheckInDate = @Model.CheckInDate.ToString("dd-MM-yyyy HH:mm");
                    }
                    <input type="text" id="CheckInDate" name="txtCheckInDate" value="@sCheckInDate" disabled="disabled"/>
                </div>
            </div>
            <div class="control-group">
                <label>
                    Thời điểm ra</label>
                <div class="controls">
                    @{
                        string sCheckOutDate = Model.CheckOutDate.HasValue ? @Model.CheckOutDate.Value.ToString("dd-MM-yyyy HH:mm") : "";
                    }
                    <input type="text" id="CheckOutDate" name="txtCheckOutDate" value="@sCheckOutDate" disabled="disabled"/>
                </div>
            </div>
            <div class="control-group">
                <label>
                    Loại</label>
                <div class="controls">
                    @Html.Hidden("hdfRentType", Model.RentType, new {id = "hdfRentType"})
                    <div class="btn-group" data-toggle="buttons-radio">
                        <button type="button" class="btn btn-small" id="btnHourFee" disabled="disabled"  data-rentType =@((int) RentTypeEnum.Hour)>
                            Theo giờ</button>
                        <button type="button" class="btn btn-small" id="btnNightFee" disabled="disabled"  data-rentType =@((int) RentTypeEnum.Night)>
                            Qua đêm</button>
                        <button type="button" class="btn btn-small" id="btnDayFee" disabled="disabled" data-rentType =@((int) RentTypeEnum.Day) >
                            Theo ngày</button>
                    </div>
                </div>
            </div>

            
                <div class="control-group">
                <label>NV giao phòng</label>
                <div class="controls">
                    <input type="text" id="CheckInPerson" name="txtTotalFee" value="@Model.CheckInPerson" disabled="disabled"/>
                    
                </div>
                </div>
            <div class="control-group">
                <label>NV trả phòng</label>
                <div class="controls">
                    <input type="text" id="CheckOutPerson" name="txtTotalFee" value="@Model.CheckOutPerson" disabled="disabled"/>
                    
                </div>
            </div>

            <div class="control-group">
                <label>Người duyệt</label>
                <div class="controls">
                    <input type="text" id="ApprovePerson" name="txtTotalFee" value="@Model.ApprovePerson" disabled="disabled"/>
                    
                </div>
              </div>  

          
        </fieldset>
        <fieldset style="padding: 5px; float: left">
            <h5>
                Chi tiết thanh toán</h5>
            <div class="control-group">
                <label>
                    Tiền phòng</label>
                <div class="controls">
                    <input type="text" id="rentFee" name="txtOrderFee" value="@Model.RentFee.ToString("N0")" disabled="disabled" style="text-align: right"/>
                    <span class="add-on">VND</span>
                </div>
                <button type="button" id="rentFeeDetail" rel="popover" data-placement="bottom" data-title="Chi tiết tiền phòng" data-trigger="hover" data-content="@Model.FeeDescription" class="btn-mini btn-info"><i class=" icon-list-alt icon-white"></i></button>
            </div>
            @Html.Action("LoadItems", "Service", new {txtRentId = @Model.RentID, editable = false})
            <fieldset style="float: left; margin: 20px 20px;">
                <a href="#" class="btn btn-info" onclick="CloseCheckoutSummary(this); " data-roomid="@Model.RoomID" style="width: 100px">
                    OK</a>
                @if (Model.RentStatus == (int) RentStatusEnum.Paid || Model.RentStatus == (int) RentStatusEnum.Approved)
                {
                    <a href="#" class="btn btn-info" onclick="printMe('KIM NGÂN','32-34 KDC Trung Son','08-54333339'); " data-roomid="@Model.RoomID" tyle="width: 100px">
                        In hóa đơn</a>
                }
            </fieldset>
        </fieldset>
        
        <fieldset style="float: right">
            <h5>
                Thông tin thanh toán</h5>
              <div class="control-group">
                <label>
                    Tên Khách Hàng</label>
                <div class="controls">
                    <input type="text" name="txtCustomerName" value="@Model.CustomerRents.Take(1).Single().Customer.CustomerName" disabled="disabled"/>
                </div>
            </div>
            <div class="control-group">
                <label>
                    CMND</label>
                <div class="controls">
                    <input type="text" name="txtPersonID" value="@Model.CustomerRents.Take(1).Single().Customer.PersonID" disabled="disabled"/>
                </div>
            </div>
            <div class="control-group">
                <label>
                    Số xe</label>
                <div class="controls">
                    <input type="text" name="txtBikeID" value="@Model.CustomerRents.Take(1).Single().Customer.BikeID" disabled="disabled"/>
                </div>
            </div>
           <div>
                <label>
                    Tổng</label>
                <div class="controls">
                    <input type="text" id="totalFee" name="txtTotalFee" value="@(((int)(Model.RentFee + Model.OrderFee)).ToString("N0"))" disabled="disabled" style="text-align: right"/>
                    <span class="add-on">VND</span>
                </div>
            </div>
            <div class="control-group">
                <label>
                    Đã trả</label>
                <div class="controls">
                    <input type="text" id="totalPayment" name="txtTotalPayment" value="@Model.TotalPayment.ToString("N0")" disabled="disabled" style="text-align: right"/>
                    <span class="add-on">VND</span>
                </div>
            </div>
            <h5>Thanh Toán</h5>
            <div id="PaymentDetails">
                <table style="width: 250px">
                    @Html.Action("PaymentDetails", "Prepaid", new {rentID = @Model.RentID, isEditable = false})
                </table>
            </div>
           
        </fieldset>
    </div>
</div>
<script type="text/javascript">
    (function($) {
        $(document).ready(function () {
            $('#rentFeeDetail').popover();
            
            $("#PaymentDetails").mCustomScrollbar();
            $("#wrapOrderTable").mCustomScrollbar();
            //Set focus
            var rentType = $("#hdfRentType").val();

            $('[data-rentType]').removeClass("active");
            var btnCurrentFee = $('[data-rentType =' + rentType + ']');
            btnCurrentFee.addClass("active");
        });
    })(jQuery);
</script>

