@using HotelDAL
@model RentFeeChange
@{
    Layout = null;
}


<tr id="feeChangeId-@Model.RentFeeChangeID">
    <td>
    @Model.Notes
    </td>
    <td>
        @Model.Amount.ToString("N0")
    </td>
    <td>
        @Model.AddTime.ToString("dd-MM HH:mm")
    </td>
    
    <td>
        @if (Model.IsAddition)
        {
            <button type="submit" class="btn btn-inverse btn-mini" onclick=" removeAddition(@Model.RentFeeChangeID,@Model.Amount);">
                Xóa</button>
        }
        else
        {
             <button type="submit" class="btn btn-inverse btn-mini" onclick=" RemoveDiscount(@Model.RentFeeChangeID,@Model.Amount);">
                Xóa</button>
        }
    </td>
</tr>
                

    