
@using HotelDAL
@model Rent
<div id="formThanhToan" >
    <div class="modal-header" >
        @Html.HiddenFor(model => model.RentID, new {id = "rentId"})
        @Html.HiddenFor(model => model.RoomID, new {id = "roomId"})
        @Html.HiddenFor(model => model.RentType, new {id = "hdfOrginialRentType"})
     
        <input type="hidden" id="current-roomid" value="@Model.RoomID"/>
        <div class="span5">
            <h4>HÓA ĐƠN PHÒNG @Model.Room.RoomName</h4>
        </div>
        <div class="pagination-right">
            <button class="btn btn-info " onclick="CheckOut(); "> Thanh Toán</button>
            <button class="btn" data-dismiss="modal" aria-hidden="true"> Đóng</button>  
        </div>

    </div>
    <div class="modal-body form-horizontal">
        <div class="accordion" id="accordion2">
            <div class="accordion-group">
                <div class="accordion-heading label-info ">
                    <a  data-toggle="collapse" data-parent="#accordion2" href="#collapseOne" class="collaspe-text-header" >
                        <i class="icon-white icon-edit"></i> Tính toán chi phí
                    </a>
                </div>
                <div id="collapseOne" class="accordion-body collapse in">
                    <div class="accordion-inner">
                        <div class="container-fluid">
                            <div class="row-fluid row-fluid-expand">
                                <div id="rentInfo" class="span4 no-margin span-min-size">
                                    <h5>Thông tin thuê phòng</h5>
                                    <div class="control-group" >
                                        <label class="control-label">Mã số phiếu</label>
                                        <div class="controls">
                                            @Html.TextBoxFor(m => m.InvoiceID, new {@class = "input-medium", onkeydown = "ChangeStatusUpdateButton(false)"})
                                            @Html.ValidationMessageFor(m => m.InvoiceID)
                                        </div>
                                    </div>
            
                                    <div class="control-group">
                                        <label class="control-label">Thời gian vào</label>
                                        <div class="controls">
                                            @Html.TextBoxFor(m => m.CheckInDate, new {@class = "input-medium", onchange = "ChangeStatusUpdateButton(false)"})
                                            @Html.ValidationMessageFor(m => m.CheckInDate)
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">Thời gian ra</label>
                                        <div class="controls">
                                            @Html.TextBoxFor(model => model.CheckOutDate, new {@class = "input-medium"})
                                            @Html.ValidationMessageFor(model => model.CheckOutDate)
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">Số xe</label>
                                        <div class="controls">
                                            @Html.TextBoxFor(model => model.BikeID, new {@class = "input-medium", onkeydown = "ChangeStatusUpdateButton(false)"})
                                            @Html.ValidationMessageFor(model => model.BikeID)
                                        </div>
                                    </div>

                                    <div class="control-group">        
                                        @Html.HiddenFor(model => model.RentType, new {id = "hdfRentType"})
                                        <div title="Hình thức thuê" class="btn-group" data-toggle="buttons-radio">
                                            <button type="button" class="btn" id="btnHourFee" onclick="      UpdateFee(@((int) RentTypeEnum.Hour))" data-rentType=@((int) RentTypeEnum.Hour)  >
                                                Theo giờ</button>
                                    
                                            <button type="button" class="btn" id="btnNightFee" onclick="      UpdateFee(@((int) RentTypeEnum.Night))" data-rentType=@((int) RentTypeEnum.Night) >
                                                Qua đêm</button>
                                   
                                    
                                            <button type="button" class="btn" id="btnDayFee" onclick="      UpdateFee(@((int) RentTypeEnum.Day))" data-rentType=@((int) RentTypeEnum.Day) >
                                                Theo ngày</button>
                                        </div> 
                   
                                    </div>
              
                                    
                                    <div class="control-group">
                                        <button id="btnUpdateRentInfo" class="btn" onclick="UpdateRentInfo(); " disabled="disabled">
                                            Cập nhật</button>
                                    </div>

                                </div>
                             
                                <div class="span4 no-margin span-min-size"   >
                                    <h5> Tính tiền</h5>
                                    
                                    <div class="control-group">
                        
                                        <label class="control-label" id="rentFeeDetail" rel="popover" data-placement="bottom" data-title="Chi tiết tiền phòng" data-trigger="hover" data-content="@Model.FeeDescription"> Tiền phòng</label>
                                        <div class="controls">
                                            <input type="text" id="rentFee" class="input-medium text-right uneditable-input" value="@Model.RentFee.ToString("N0")" readonly="readonly" />
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">Giảm giá</label>
                                        <div class="controls">
                                            <input type="text" id="orderFee" class="input-medium text-right uneditable-input" value="@Model.OrderFee.ToString("N0")" readonly="readonly" />
                                        </div>
                                     </div>

                                    <div class="control-group">
                                        <label class="control-label">Tiền dịch vụ</label>
                                        <div class="controls">
                                            <input type="text" id="orderFee" class="input-medium text-right uneditable-input" value="@Model.OrderFee.ToString("N0")" readonly="readonly" />
                                        </div>
                                     </div>
               
                                    <div class="control-group">
                                        <label class="control-label">Tổng cộng</label>
                                        <div class="controls">
                                            <input type="text" id="totalFee" class="input-medium text-right uneditable-input"  value="@((Model.RentFee + Model.OrderFee).ToString("N0"))" readonly="readonly" />
                                        </div>
                                    </div>
            
                                    <div class="control-group">
                                        <label class="control-label">Đã thanh toán</label>
                                        <div class="controls">
                                            <input type="text" id="totalPayment"  class="input-medium text-right uneditable-input"  value="@Model.TotalPayment.ToString("N0")" readonly="readonly" />
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">Còn lại</label>
                                        <div class="controls">
                                            <input type="text" id="remainFee"  class="input-medium text-right uneditable-input" value="@((Model.RentFee + Model.OrderFee - Model.TotalPayment).ToString("N0"))" readonly="readonly" />
                                        </div>
                                    </div>
                                    @*<div class="control-group">
                                        <div class="form-inline">
                                        <label class="checkbox">
                                            @Html.CheckBox("IsPayAll", true, new {id = "IsPayAll"})
                                            Thanh toán hết
                                        </label>
                                        <label class="checkbox">
                                            @Html.CheckBox("IsPrint", false, new {id = "IsPrint"})
                                            In hóa đơn
                                        </label>
                                    </div>*@
                                       
                                </div>
                
                                   <div class="span4 no-margin span-min-size"   >
                                    <h5>Chi tiết thanh toán</h5>
                                    <div class="control-group">
                                        <label class="span4">Trả trước</label>
                                        <div class="controls">
                                            <input type="text" id="paymentAmount" class="span9" />
                                            <button id="btnPrepaid" class="btn btn-info " title="Trả trước" onclick="addPayment(); "><i class="icon-white icon-plus"></i></button>
                                        </div>
                                    </div>
            
                                    @Html.Action("GetRentPayments", "Rent", new {rentId = @Model.RentID})
                                    
                                </div>
                               
                            </div>
          
                        </div>
                    </div>
                </div>
            </div>  
            <div class="accordion-group">
                <div class="accordion-heading label-info">
                    <a  data-toggle="collapse" data-parent="#accordion2" href="#collapseCustomer" class="collaspe-text-header" >
                        <i class=" icon-white icon-user"></i> Thông tin khách hàng
                    </a>
                </div>
                <div id="collapseCustomer" class="accordion-body collapse">
                    <div class="accordion-inner">
                        
                                   
                        @Html.Action("GetRentCustomers", "Rent", new {rentId = @Model.RentID})
                    </div>
                               
                                       
                </div>
                
      
                           
            </div>
            
            <div class="accordion-group">
                <div class="accordion-heading label-info">
                    <a  data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo" class="collaspe-text-header">
                        <i class="icon-white icon-glass"></i> Chi tiết dịch vụ
                    </a>
                </div>
                <div id="collapseTwo" class="accordion-body collapse">
                    <div class="accordion-inner">
                        @Html.Action("GetRentService", "Rent", new {rentId = @Model.RentID})
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer"></div>
</div>
     

   
            
                
   
<script type="text/javascript">



    $(document).ready(function() {


        $('#rentFeeDetail').popover();

        $("#wrapOrderTable").mCustomScrollbar();
        $("#wrapPaymentTable").mCustomScrollbar();
        $("#wrapCustomerTable").mCustomScrollbar();


    });
</script>


