@using HotelBLL.Models
@using HotelDAL
@model Rent
<div id="formThanhToan" class="span15" style="overflow: auto">
    @Html.HiddenFor(model => model.RentID, new {id = "rentId"})
    @Html.HiddenFor(model => model.RoomID, new {id = "roomId"})
    @Html.HiddenFor(model => model.RentType, new {id = "hdfOrginialRentType"})
    <input type="hidden" id="current-roomid" value="@Model.RoomID"/>
    <h4>
        Phòng @Model.Room.RoomName -Thanh toán</h4>
    <div>
        <div class="span4" style="padding-bottom: 20px">
            <h5>
                Thông tin thuê phòng</h5>
            <div id="rentInfo">
                <div class="input-append">
                    <span class="add-on" style="width: 95px">Mã số phiếu</span>
                    <input type="text"  class="span2"  value="@Model.InvoiceID" readonly="readonly" />
                </div>
                
           
                <div class="input-append">
                    <span class="add-on" style="width: 95px">Thời gian vào</span>
                    <input type="text"  class="span2"  value="@Model.CheckInDate.ToString("dd-MM-yyyy HH:mm")" readonly="readonly" />
                </div>
                <div class="input-append">
                    <span class="add-on" style="width: 95px">Thời gian trả</span>
                    @if (Model.CheckOutDate != null)
                    {
                        <input type="text"  class="span2"  value="@Model.CheckOutDate.Value.ToString("dd-MM-yyyy HH:mm")" readonly="readonly" />
                    }
                    else
                    {
                        <input type="text"  class="span2"  value="" readonly="readonly" />
                    }
                   
                </div>
                <div class="input-append">
                    <span class="add-on" style="width: 95px">Hình thức thuê</span>
                    @switch (@Model.RentType)
                    {
                        case (int) @RentTypeEnum.Hour:
                            {
                                <input type="text"  class="span2"  value="Theo giờ"  readonly="readonly" />
                                break;
                            }
                        case (int)@RentTypeEnum.Night:
                            {
                                 <input type="text"  class="span2"  value="Qua dêm"  readonly="readonly" />
                                break;
                               
                            }
                        case (int)@RentTypeEnum.Day:
                            {
                                 <input type="text"  class="span2"  value="Theo ngày"  readonly="readonly" />
                                break;
                            }
                    }
                </div>
                
                <div class="input-append">
                    <span class="add-on" style="width: 95px">Số xe</span>
                    <input type="text"  class="span2"  value="@Model.BikeID" readonly="readonly" />
                </div>
                <div class="controls">
                    @Html.TextAreaFor(model => model.Notes, new { @class = "span4", placeholder = "Ghi chú", onkeydown = "ChangeStatusUpdateButton(false)", disabled = "disabled" })
                </div>
            
            </div>

            <h5><i class="icon-user"></i>  Khách hàng</h5>
            @Html.Action("GetRentCustomers", "Rent", new { rentId = @Model.RentID })
           

           

               
        </div>
           
        <div class="span4">
                 
                
            
            <h5><i class="icon-glass"></i>  Dịch vụ </h5>
            @Html.Action("LoadItems", "Service", new { txtRentId = @Model.RentID, editable = true })

            <h5><i class="icon-glass"></i>Thông tin nhân viên</h5>
            <div class="input-append">
                <span class="add-on" style="width: 95px">NV giao phòng</span>
                <input type="text"  class="span2"  value="@Model.CheckInPerson" readonly="readonly" />
            </div>
            <div class="input-append">
                <span class="add-on" style="width: 95px">NV thanh toán</span>
                <input type="text"  class="span2"  value="@Model.CheckOutPerson" readonly="readonly" />
            </div>
            <div class="input-append">
                <span class="add-on" style="width: 95px">Người duyệt</span>
                <input type="text"  class="span2"  value="@Model.ApprovePerson" readonly="readonly" />
            </div>
            <div class="input-append">
                <span class="add-on" style="width: 95px">Thời gian duyệt</span>
                @if (Model.ApproveDate != null)
                {
                    <input type="text"  class="span2"  value="@Model.ApproveDate.Value.ToString("dd-MM-yyyy HH:mm")" readonly="readonly" />
                }
                else
                {
                    <input type="text"  class="span2"  value="" readonly="readonly" />
                }
            </div>
            <button class="btn" onclick="CloseWindowsFromAjax(); " style="width: 80px"> Đóng</button>   
             
        </div>
        <div class="span4">
            <h5> Tính tiền</h5>
            <div class="input-append">
                        
                <span class="add-on" style="width: 95px" id="rentFeeDetail" rel="popover" data-placement="bottom" data-title="Chi tiết tiền phòng" data-trigger="hover" data-content="@Model.FeeDescription"> Tiền phòng</span>
                <input type="text" id="rentFee" class="span2"  value="@Model.RentFee.ToString("N0")" readonly="readonly" style="text-align: right"/>
                      
            </div>
            <div class="input-append">
                <span class="add-on" style="width: 95px">Tiền dịch vụ</span>
                <input type="text" id="orderFee" class="span2"  value="@Model.OrderFee.ToString("N0")" readonly="readonly" style="text-align: right"/>
            </div>
                  
            <div class="input-append">
                <span class="add-on" style="width: 95px">Tổng cộng</span>
                <input type="text" id="totalFee" class="span2" name="txtTotalFee"  value="@((Model.RentFee + Model.OrderFee).ToString("N0"))" readonly="readonly" style="text-align: right"/>
            </div>
            
            <div class="input-append">
                <span class="add-on" style="width: 95px">Đã thanh toán</span>
                <input type="text" id="totalPayment" class="span2" name="txtTotalPayment"  value="@Model.TotalPayment.ToString("N0")" readonly="readonly" style="text-align: right"/>
            </div>
            <div class="input-append">
                <span class="add-on " style="width: 95px">Còn lại</span>
                <input type="text" id="remainFee" class="span2" name="txtRemainFee" value="@((Model.RentFee + Model.OrderFee - Model.TotalPayment).ToString("N0"))" readonly="readonly" style="text-align: right"/>
            </div>
            
            <h5>Chi tiết thanh toán</h5>
            @Html.Action("GetRentPayments", "Rent", new { rentId = @Model.RentID })
          
          
        </div>
           
    </div>
            
</div>           
     
            
            
                
   
<script type="text/javascript">



    $(document).ready(function() {


        $('#formThanhToan').hover(function() {

            // on hover

            $('body').css({ 'overflow': 'hidden' });

        }, function() {

            // off hover

            $('body').css({ 'overflow': 'visible' });

        });
        $(".btn-mini").css('visibility', 'hidden');
        $('#rentFeeDetail').popover();

        $("#wrapOrderTable").mCustomScrollbar();
        $("#wrapPaymentTable").mCustomScrollbar();
        $("#wrapCustomerTable").mCustomScrollbar();


    });
</script>


