@using HotelDAL
@model Room

<div id="formDatPhong" >
        
    <div class="modal-header">
        @Html.HiddenFor(model => model.RoomID, new {id = "roomId"})
        <div class="span5">
        <h4>Phòng <span class="formRoomNumber">@Model.RoomName</span> - Đặt Phòng</h4>
        </div>
        <div class="pagination-right">
            <button class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            
        </div>
    </div>
    <div class="modal-body form-horizontal">
    <div class="alert alert-success">
        <div class="control-group">
            <label class="control-label" >Mã số phiếu</label>
            <div class="controls">
            @Html.TextBox("InvoiceID", null, new {@id = "InvoiceID", @class = "input-medium"})
            </div>
        </div>
        
        <div class="control-group">
            <label class="control-label" >Thời gian vào</label>
            <div class="controls">
             @Html.TextBox("CheckInDate", null, new { id = "CheckInDate", @class = "input-medium" })
            </div>
        </div>

        <div class="control-group">
        <div class="controls">
        @Html.Hidden("hdfRentType", null, new {id = "hdfRentType", Value = "1"})
        <div class="btn-group" data-toggle="buttons-radio">
            <button type="button" class="btn active" id="btnHourFee" onclick=" ChangeRentType(@((int) RentTypeEnum.Hour))">
                Theo giờ</button>
            <button type="button" class="btn" id="btnNightFee" onclick="   ChangeRentType(=@((int) RentTypeEnum.Night))" >
                Qua đêm</button>
            <button type="button" class="btn" id="btnDayFee" onclick="   ChangeRentType(@((int) RentTypeEnum.Day))">
                Theo ngày</button>
        </div>
        </div>
       </div>
        <div class="control-group">
            <label class="control-label" >Số xe</label>
            <div class="controls">
             @Html.TextBox("BikeID", null, new { id = "BikeID", @class = "input-medium" })
            </div>
        </div>

            <div class="control-group"> 
            <label class="control-label" >Ghi chú</label>
        <div class="controls">
                
            @Html.TextArea("Notes", new {id = "Notes", style = "height:100px", placeholder = "Ghi chú"})
        </div>
           </div>
        <div class="control-group">
            <div class="controls">
                <button class="btn btn-primary"  onclick="BookRoom(); ">
                    Đặt Phòng</button>
            </div>
        </div>
    </div>
    </div>
    <div class="modal-footer">
    </div>   
   
  
</div>
