@using HotelDAL;
@using HotelBLL.Models
@model  SearchRentTableViewModel
@{
    int pageSize = 20;
}
    <div align="left">
    @if (Model.Status == (int)RentStatusEnum.Paid)
    {
        <button type="button" class="btn btn-success" onclick="ApproveAllRent()" style="left: 0px">Duyệt tất cả</button>
        <br/>
        <br/>
    }
    </div>
    
<table class="table table-bordered table-striped ">
    <thead>
        <tr>
            <th>
                STT
            </th>
            <th>
                Số phiếu
            </th>
            <th>
                Tên phòng
            </th>
            <th>
                Hình thức thuê
            </th>
            <th>
                Nhận phòng
            </th>
            <th>
                Trả phòng
            </th>
            <th>
                Tổng phải thu
            </th>
            <th>
                Khách đã trả
            </th>
            <th>
                Còn lại
            </th>
            <th>
                Trạng thái
            </th>
            <th>
                Chi tiết
            </th>
            @if (Model.Status == (int)RentStatusEnum.InStay)
            {
                <th>
                    Xin hủy
                </th>
            }
            else if (Model.Status == (int)RentStatusEnum.Paid)
            {
                if (Model.IsAdmin)
                {
                <th>
                    Duyệt
                </th>
                }
                
                <th>
                    Xin hủy
                </th>
                
            }
            else if (Model.Status == (int)RentStatusEnum.Approved)
            {

                if (Model.IsAdmin)
                {
                 <th>
                   Xin hủy
                </th>
                }
            }
            else if (Model.Status == (int)RentStatusEnum.WaitDisabled)
            {
                if (Model.IsAdmin)
                {
                 <th>
                   Hủy
                </th>
                }
            }
            else if (Model.Status == (int)RentStatusEnum.Disabled)
            {
                if (Model.IsAdmin)
                {
                 <th>
                   Xóa
                </th>
                }
            }
        </tr>
    </thead>
    <tbody>
        @{
            int i = 0;
            foreach (var item in Model.Rents)
            {
                i = i + 1;
                RentItemViewModel rentmodel = new RentItemViewModel();
                rentmodel.IsAdmin = Model.IsAdmin;
                rentmodel.Rent = item;
                rentmodel.Index = i + (Model.CurrentPageIndex-1) * pageSize;
                @Html.Partial("_RentItem", rentmodel)
            }
        }
    </tbody>
</table>
<div class="pagination">
    <ul>
        @{
            

            if (Model.CurrentPageIndex > 1)
            { 
            <li class="active"><a onclick="GetRentByStatus(@Model.Status,1,@pageSize)">Đầu tiên</a></li>
            }

            int minIndex = Math.Max(1, Model.CurrentPageIndex - 4);
            int maxIndex = Math.Min(Model.TotalPage, Model.CurrentPageIndex + 4);
            for (int pageindex = minIndex; pageindex <= maxIndex; pageindex++)
            {
                if (pageindex == Model.CurrentPageIndex)
                {
            <li class="disabled"><a href="#">@pageindex</a></li>
                }
                else
                {
            <li class="active"><a onclick="GetRentByStatus(@Model.Status,@pageindex,@pageSize)">@pageindex</a>
            </li>
                }
            }

            //Thêm 1 vài số cho dễ navigation. Theo 5s.vn
            maxIndex += 9;
            if (maxIndex < Model.TotalPage)
            {
            <li class="active"><a onclick="GetRentByStatus(@Model.Status,@maxIndex,@pageSize)">@maxIndex</a>
            </li>
            
                                                                                          maxIndex += 40;
                                                                                          if (maxIndex < Model.TotalPage)
                                                                                          {
            <li class="active"><a onclick="GetRentByStatus(@Model.Status,@maxIndex,@pageSize)">@maxIndex</a>
            </li>
                                                                                          }
                                                                                          maxIndex += 50;
                                                                                          if (maxIndex < Model.TotalPage)
                                                                                          {
            <li class="active"><a onclick="GetRentByStatus(@Model.Status,@maxIndex,@pageSize)">@maxIndex</a>
            </li>
                                                                                          }
            }




            if (Model.CurrentPageIndex < Model.TotalPage)
            { 
      
            <li class="active"><a onclick="GetRentByStatus(@Model.Status,@Model.TotalPage,@pageSize)">
                Cuối</a></li>
            }
        
        }
    </ul>
</div>
@*<div>@Html.ActionLink("Xuất file excel", "ExportToExcel", "Admin", new {StartTime=@Model.StartDate , EndTime=@Model.EndDate}, new { @class = "btn btn-success" })</div>*@
