@using HotelDAL;
@{
    ViewBag.Title = "Hotel Pro-Quản lý doanh thu";
}
<h3>CHI TIẾT THUÊ PHÒNG</h3>
    
     <div class="btn-group" data-toggle="buttons-radio" align="left">
        <button id="btnInstay" type="button" class="btn " onclick="GetRentByStatus(@((int)RentStatusEnum.InStay ),1,20)">
            Đang thuê</button>
        <button id="btnPaid" type="button" class="btn" onclick="GetRentByStatus(@((int)RentStatusEnum.Paid),1,20)" >
            Chờ duyệt</button>
        <button  type="button" class="btn" onclick="GetRentByStatus(@((int)RentStatusEnum.Approved),1,20)">
            Đã duyệt</button>
        <button type="button" class="btn" onclick="GetRentByStatus(@((int)RentStatusEnum.WaitDisabled),1,20)">
            Xin hủy</button>
        <button type="button" class="btn" onclick="GetRentByStatus(@((int)RentStatusEnum.Disabled),1,20)">
            Đã hủy</button>
    </div>

   <br/>
    <br/>
   
    <div id="RentTable">
    </div>
    @*<div id="WindowsFromAjax" style="width: auto !important; margin-left: auto; margin-right: auto;
        display: none;">*@
    <div id="WindowsFromAjax" class="modal-form">
    </div>
   
<script type="text/javascript" language="javascript">
    $(document).ready(function () {
        $('#btnInstay').addClass('active');
        //Get instay
        GetRentByStatus(1, 1, 20);

       });

    
   

</script>
