@using HotelDAL;
@using HotelManagement.Models
@model SearchRentTableViewModel
@{
    int TotalMoney = 0;//So tien theo ly thuyet
    int TotalPayment = 0; //So tien thực trả
    int ApproveMoney = 0;
    int RentFee = 0;
    int OrderFee = 0;
    foreach (var r in Model.Rents)
    {
        if (r.RentStatus != (int)RentStatusEnum.Disabled)
        {
            TotalMoney += r.OrderFee + r.RentFee;
            TotalPayment += r.TotalPayment;//Tông số tiền khách trả
            if (r.RentStatus == (int)RentStatusEnum.Approved)
            {
                ApproveMoney += r.TotalPayment;
            }
            RentFee += r.RentFee;
            OrderFee += r.OrderFee;
        }

    }
}
<h3>
    BẢNG TỔNG KẾT THU NHẬP</h3>
<table class="table table-bordered table-striped ">
    <tr>
        <td>
            Từ thời điểm :
        </td>
        <td>
            <span class="label">@Model.StartDate.ToString("dd-MM-yyyy hh:mm")</span>
            <td>
                Tổng tiền phải thu :
            </td>
            <td>
                <span class="label label-info">@TotalMoney.ToString("N0")</span> <span class="add-on">
                    VND</span>
            </td>
            <td>
                Số tiền đã duyệt:
            </td>
            <td>
                <span class="label label-info">@ApproveMoney.ToString("N0")</span> <span class="add-on">
                    VND</span>
            </td>
            <td>
                Thu từ tiền phòng :
            </td>
            <td>
                <span class="label label-info">@RentFee.ToString("N0")</span> <span class="add-on">VND</span>
            </td>
    </tr>
    <tr>
        <td>
            Đến thời điểm :
        </td>
        <td>
            <span class="label">@Model.EndDate.ToString("dd-MM-yyyy hh:mm")</span>
            <td>
                Tổng tiền thực thu
            </td>
            <td>
                <span class="label label-info">@TotalPayment.ToString("N0")</span> <span class="add-on">
                    VND</span>
            </td>
            <td>
                Số tiền tiếp tân đang giữ:
            </td>
            <td>
                <span class="label label-info">@((TotalMoney - ApproveMoney).ToString("N0"))</span>
                <span class="add-on">VND</span>
            </td>
            <td>
                Thu từ dịch vụ :
            </td>
            <td>
                <span class="label label-info" style="width: 50px; text-align: right">@OrderFee.ToString("N0")</span>
                <span class="add-on">VND</span>
            </td>
    </tr>
</table>
<h3>
    CHI TIẾT THUÊ PHÒNG</h3>
<table class="table table-bordered table-striped ">
    <thead>
        <tr>
            <th>
                STT
            </th>
            <th>
                Số phiếu
            </th>
            <th>
                Tên phòng
            </th>
            <th>
                Hình thức thuê
            </th>
            <th>
                Nhận phòng
            </th>
            <th>
                Trả phòng
            </th>
            <th>
                Tổng phải thu
            </th>
            <th>
                Khách đã trả
            </th>
            <th>
                Còn lại
            </th>
            <th>
                Trạng thái
            </th>
            <th>
                Chi tiết
            </th>
            <th>
                Duyệt
            </th>
            <th>
                Loại bỏ
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 0;
            foreach (var item in Model.Rents)
            {
                i = i + 1;
                HotelManagement.Models.RentItemViewModel rentmodel = new RentItemViewModel();
                rentmodel.Rent = item;
                rentmodel.Index = i;
            @Html.Partial("RentItem", rentmodel)
            }
        }
    </tbody>
</table>



<div>@Html.ActionLink("Xuất file excel", "ExportToExcel", "Admin", new {StartTime=@Model.StartDate , EndTime=@Model.EndDate}, new { @class = "btn btn-success" })</div>
<script type="text/javascript" language="javascript">
    

</script>
