<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    @{
        bool isAdmin = Roles.GetRolesForUser().Contains("admin");
    }
    <script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"></script>
    <script src="../../Scripts/jquery-1.9.1.min.js" type="text/javascript"></script>
    @*TimerPicker*@
    <link href="../../Content/TimePicker/jquery-ui.css" rel="stylesheet" type="text/css" />
    <script src="../../Content/TimePicker/jquery-ui.min.js" type="text/javascript"></script>
    <script src="../../Content/TimePicker/jquery-ui-timepicker-addon.js"></script>
    <link href="../../Content/TimePicker/jquery-ui-timepicker-addon.css" rel="stylesheet"
        type="text/css" />
    @*Bootstrap *@
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../../Content/bootstrap/js/bootstrap.js" type="text/javascript"></script>
    <link href="../../Content/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/bootstrap/css/bootstrap-responsive.css" rel="stylesheet"
        type="text/css" />

    @*Custom Scrollbar*@
    <script src="../../Content/CustomScrollbar/jquery.mCustomScrollbar.concat.min.js"
        type="text/javascript"></script>
    <link href="../../Content/CustomScrollbar/jquery.mCustomScrollbar.css" rel="stylesheet"
        type="text/css" />
    @*Custom Scrollbar*@
    <script src="../../Scripts/table-fixed-header.js" type="text/javascript"></script>
    <script src="../../Scripts/jquery.flot.js" type="text/javascript"></script>
    <link href="../../Content/table-fixed-header.css" rel="stylesheet" type="text/css" />
    <script src="../../Scripts/mainscript.js" type="text/javascript"> </script>
    <script src="../../Scripts/hms_rentAdmin.js" type="text/javascript"> </script>
    <script src="../../Scripts/hms_rent.js" type="text/javascript"> </script>
    <script src="../../Scripts/hms_rentBooking.js" type="text/javascript"> </script>
    <script src="../../Scripts/hms_cost.js" type="text/javascript"> </script>
    @*Master Page*@
    <link href="../../Content/MasterPageRadmin/css/molle.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="../../Content/MasterPageRadmin/css/icon-style.css" />
    <link href="../../Content/MasterPageRadmin/css/radmin.css" rel="stylesheet" />
    <link href="../../Content/MasterPageRadmin/css/radmin-responsive.css" rel="stylesheet" />
    <script type="text/javascript" src="../../Content/MasterPageRadmin/scripts/jquery.cloneposition.js"></script>
    <script type="text/javascript" src="../../Content/MasterPageRadmin/scripts/theme.js"></script>
    <link rel="stylesheet" type="text/css" href="../../Content/MasterPageRadmin/css/radmin-plugins.css" />
    @* End Master Page*@ @*Project File*@ @*<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />*@
    <script src="../../Scripts/mainscript.js" type="text/javascript"></script>
    <link href="../../Content/style.css" rel="stylesheet" type="text/css" />
</head>
<body id="body-index">
    <div class="navbar navbar-inverse navbar-static-top">
        <div class="navbar-inner black-gradient">
            <div class="container-fluid">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span
                    class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </a><a class="brand" href="@Url.Action("Index", "Room")">Hotel Pro-Phần mềm quản lý khách
                    sạn </a>
                <div class="nav-collapse collapse">
                    <p class="navbar-text pull-right">
                        <a id="user-popover" href="#" class="navbar-link user-info"><i class="icon-user icon-white">
                        </i>Xin chào <strong>@User.Identity.Name</strong> </a><a href="@Url.Action("LogOff", "Account")" class="btn btn-mini btn-success ">
                            <i class="icon-share-alt icon-white"></i>Thoát </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            &nbsp;</div>
    </div>
    <div class="container-fluid main-container">
        <div class="row-fluid">
            <div class="span12">
                <div class="sidebar-nav">
                    <ul class="nav nav-stacked left-menu">
                        <li id="mnuRoom" class="menuitem active"><a href="/Room"><span><i class="icon-home">
                        </i>Quản lý phòng</span> </a></li>
                        <li id="mnuAdmin" class="menuitem"><a href="/Admin"><span><i class="icon-tasks"></i>
                            Thống kê thuê phòng</span> </a></li>
                        <li id="mnuCost" class="menuitem"><a href="/Cost"><span><i class="icon-shopping-cart">
                        </i>Quản lý chi phí</span> </a></li>
                        @if (isAdmin)
                        {
                            <li class="accordion" id="navigation-report"><a class="accordion-toggle" data-toggle="collapse"
                                data-parent="#navigation-report" href="#collapse5"><span><i class="icon-signal"></i>
                                    Báo cáo</span> <span class="label pull-right hidden-tablet hidden-phone">3</span>
                            </a>
                                <div id="collapse5" class="accordion-body collapse">
                                    <ul class="nav nav-stacked submenu">
                                        <li><a href="@Url.Action("ReportIncomeDay", "Report")"><span><i class="icon-calendar">
                                        </i>Doanh thu ngày</span> </a></li>
                                        <li><a href="@Url.Action("ReportIncomeDayOfWeek", "Report")"><span><i class="icon-calendar">
                                        </i>Doanh thu theo thứ</span> </a></li>
                                        <li><a href="@Url.Action("ReportIncomeMonth", "Report")"><span><i class="icon-calendar">
                                        </i>Doanh thu tháng</span> </a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="accordion" id="navigation-product"><a class="accordion-toggle" data-toggle="collapse"
                                data-parent="#navigation-product" href="#collapse6"><span><i class="icon-signal"></i>Quản lí
                                    sản phẩm</span> <span class="label pull-right hidden-tablet hidden-phone">2</span>
                            </a>
                                <div id="collapse6" class="accordion-body collapse">
                                    <ul class="nav nav-stacked submenu">
                                        <li><a href="@Url.Action("ListProduct", "Product")"><span><i class="icon-calendar"></i>
                                            Quản lí sản phẩm</span> </a></li>
                                        <li><a href="@Url.Action("ListItem", "Product")"><span><i class="icon-calendar"></i>
                                            Quản lí vật phẩm</span> </a></li>
                                    </ul>
                                </div>
                            </li>
                            
                            <li class="accordion" id="navigation-serviceReport"><a class="accordion-toggle" data-toggle="collapse"
                                data-parent="#navigation-serviceReport" href="#collapse7"><span><i class="icon-signal">
                                </i>Báo cáo dịch vụ</span> <span class="label pull-right hidden-tablet hidden-phone">
                                    2</span> </a>
                                <div id="collapse7" class="accordion-body collapse">
                                    <ul class="nav nav-stacked submenu">
                                        <li><a href="@Url.Action("ReportServiceByDay", "ServiceReport")"><span><i class="icon-calendar">
                                        </i>Dịch vụ theo ngày</span> </a></li>
                                        <li><a href="@Url.Action("ReportServiceByMonth", "ServiceReport")"><span><i class="icon-calendar">
                                        </i>Dịch vụ tháng</span> </a></li>
                                    </ul>
                                </div>
                            </li>

                            <li class="accordion" id="navigation-user"><a class="accordion-toggle" data-toggle="collapse"
                                data-parent="#navigation-report" href="#collapse8"><span><i class="icon-user"></i>Người
                                    dùng</span> <span class="label pull-right hidden-tablet hidden-phone">2</span>
                            </a>
                                <div id="collapse8" class="accordion-body collapse">
                                    <ul class="nav nav-stacked submenu">
                                        <li><a href="@Url.Action("Index", "User")"><span><i class="icon-user"></i>Người dùng</span>
                                        </a></li>
                                        <li><a href="@Url.Action("ChangePassword", "Account")"><span><i class="icon-retweet">
                                        </i>Đổi mật khẩu</span> </a></li>
                                    </ul>
                                </div>
                            </li>

                        }
                    </ul>
                </div>
                <div class="container-fluid  content-wrapper" style="padding-top: 0px">
                    @RenderBody()
                </div>
                <div class="row-fluid">
                    <div class="span12">
                        &nbsp;</div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <footer class="black-gradient">
	<a class="brand pull-right" href="#">
		<span class="rad">Hotel Pro</span>Admin
	</a>
	<div class="square-turtle pull-left">
		<p>
			2013 &copy; All rights reserved -
			<a href="#" target="_blank">SFV Company</a>
		</p>
	</div>
</footer>
    <!-- Sparklines -->
    <script type="text/javascript" src="../../Content/MasterPageRadmin/scripts/sparkline.js"></script>
</body>
</html>
<script language="javascript" type="text/javascript">

    $(document).ready(function () {
        $(".menuitem").removeClass("active");
        var path = window.location.pathname.substring(1, 7);
        if (path == "") {
            $("#mnuRoom").addClass("active");
        }
        else {
            $("#mnu" + path).addClass("active");
        }



        //Run drop down menu
        $('.dropdown-toggle').dropdown();
    });
    
   
</script>
