@model HotelBLL.Models.CostViewModel
@using HotelDAL
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"> </script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"> </script>  
<div id= "formThanhToan" style="width: 400px !important;">
    @using (Html.BeginForm("AddCost", "Cost", FormMethod.Post, new { id = "addCostForm", style = "margin-top:20px;font-size:0.8em;" }))
    {
        <h2>Thêm Chi Phí</h2>
        <div class="control-group">
            <label class="control-label">Danh Mục</label>
            <div class="controls">
                @Html.DropDownListFor(model => model.Cost.CatID, new SelectList(Model.CostCategories, "CatID", "CatName"))
            </div>
        </div>
        
        <div class="control-group">
            <label class="control-label">Nội dung</label>
            <div class="controls">
                @Html.TextAreaFor(model => model.Cost.CostDescription)
                @Html.ValidationMessageFor(model => model.Cost.CostDescription)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Số tiền</label>
            <div class="controls">
                @Html.EditorFor(model => model.Cost.Amount)
                @Html.ValidationMessageFor(model => model.Cost.Amount)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Ngày chi</label>
            <div class="controls">
                @Html.EditorFor(model => model.Cost.CostDate)
                @Html.ValidationMessageFor(model => model.Cost.CostDate)
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-success"><strong>Thêm</strong></button>
                <a class="btn" onclick="CloseWindowsFromAjax()">Đóng</a>
            </div>
        </div>
        
    }
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#addCostForm').validate();
        var costDate = $('#Cost_CostDate').val();
        $('#Cost_CostDate').val(ConvertDateVNToUS(costDate));
        $('#Cost_CostDate').datetimepicker({
            dateFormat: 'dd-mm-yy'
        });
        $('#Cost_CostDate').datetimepicker('setDate', (new Date($('#Cost_CostDate').val())));


        $('#addCostForm').unbind('submit').bind('submit', function (e) {
            e.preventDefault();
            if ($('#addCostForm').valid()) {
                $.ajax({
                    url: this.action,
                    type: this.method,
                    data: $(this).serialize(),
                    success: function (result) {
                        $("#WindowsFromAjax").dialog("close");
                        $("#CostDetailTable").fadeOut(300, function() {
                            $("#CostDetailTable").html(result + $("#CostDetailTable").html());
                            $("#CostDetailTable").fadeIn(300)
                        });

                    }
                });
            }
        });

    });
    
    
</script>
