@model HotelManagement.Models.LogOnModel

@{
    ViewBag.Title = "Log In";
    Layout = null;
}




 
<!DOCTYPE html>
@using (Html.BeginForm())
{
   <html lang="en" class="no-js">
    
        <!-- Mirrored from wbpreview.com/previews/WB0F35928/login.html by HTTrack Website Copier/3.x [XR&CO'2010], Wed, 26 Sep 2012 04:01:19 GMT -->
        <head>
            <meta charset="UTF-8" />
            <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">  -->
            <title>Login and Registration Form with HTML5 and CSS3</title>
            <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
            <meta name="description" content="Login and Registration Form with HTML5 and CSS3" />
            <meta name="keywords" content="html5, css3, form, switch, animation, :target, pseudo-class" />
            <meta name="author" content="Codrops" />
            @*<link rel="shortcut icon" href="../favicon.ico"> *@
            <link href="../../Content/Loginandregister/css/demo.css" rel="stylesheet" type="text/css" />
            <link href="../../Content/Loginandregister/css/style.css" rel="stylesheet" type="text/css" />
            <link href="../../Content/Loginandregister/css/animate-custom.css" rel="stylesheet" type="text/css" />
            <link href="../../Content/MasterPageUnicorn/css/bootstrap.min.css" rel="stylesheet"
type="text/css" />
<link href="../../Content/MasterPageUnicorn/css/bootstrap-responsive.min.css" rel="stylesheet"
type="text/css" />
<script>
function validateform() {
    alert("gdd");
}
</script>
        </head>
        <body>
        <div class="container">
            <header>
                <h1>HOTEL PRO <span>LOGIN</span></h1>
               
            </header>
            <section>				
                <div id="container_demo" >
                    <!-- hidden anchor to stop jump http://www.css3create.com/Astuce-Empecher-le-scroll-avec-l-utilisation-de-target#wrap4  -->
                    <a class="hiddenanchor" id="toregister"></a>
                    <a class="hiddenanchor" id="tologin"></a>
                    <div id="wrapper">
                        <div id="login">
                            <form  action="mysuperscript.php" autocomplete="on" onsubmit="return validateform()"> 
                                <h1>LOGIN</h1>
                                <p> 
                                    <label for="username" class="uname" data-icon="u" > Tên đăng nhập </label>
                                    @*<input id="username" name="username" required="required" type="text" placeholder="myusername or mymail@mail.com"/>*@
                                    @Html.TextBoxFor(m => m.UserName, new { id = "username", name = "username", type = "text", required = "required", placeholder = "username" })
                                    @Html.ValidationMessageFor(m => m.UserName)
                                </p>
                                <p> 
                                    <label for="password" class="youpasswd" data-icon="p"> Mật khẩu </label>
                                    @* <input id="password" name="password" required="required" type="password" placeholder="eg. X8df!90EO" />*@
                                    @Html.PasswordFor(m => m.Password, new { id = "password", name = "password", required = "required", type = "password", placeholder = "password" })
                                    @Html.ValidationMessageFor(m => m.Password) 
                                </p>
                                <p class="keeplogin"> 
									<input type="checkbox" name="loginkeeping" id="loginkeeping" value="loginkeeping" /> 
									<label for="loginkeeping">Nhớ mật khẩu</label>
								</p>
                                 <p class="login button"> 
                                <span class=""><input type="submit" class="btn btn-inverse" value="Login" /></span>
                                </p>
                               @* <p class="change_link">
									 @Html.ActionLink("Register", "Register") if you don't have an account.
								</p>*@
                              <br/><br/><br/><br/><br/>
                            <div class="alert alert-error" style="margin-top: -70px" >
						      @Html.ValidationSummary(true, "Đăng nhập không thành công. Vui lòng thử lại!")
							<a href="#" data-dismiss="alert" class="close">×</a>
                           </div>                                
                            </form>
                           
                        </div>

                    </div> 
                </div> 
            </section>
            </div>
        </body>
    </html>
}

