@using HotelBLL.Models.ServiceReport
@model ServiceReportViewModel

<table class="table table-bordered table-striped table-fixed-header">
    <thead class="header" >
        <tr>
            <th>
                STT
            </th>
            <th>
                Hình ảnh
            </th>
            <th>
                Tên dịch vụ
            </th>
            <th>
                Tổng cộng
            </th>
           
            @{
                var fromDate = @Model.FromDate;
                while (fromDate <= Model.ToDate)
                {
                    <th>
                        @fromDate.ToString("MM-yyyy")
                    </th>
                     fromDate = fromDate.AddMonths(1);
                }
                }
               
            
        </tr>
    </thead>
    
    <tbody>
        @{
            int index = 0;
            foreach (ServiceReportItemModel item in Model.ServiceItems)
            {
                index++;
                <tr>
                    <td>
                        @index
                    </td>
                    <td>
                        <img src="/Content/imgs/product/@item.Product.PicURL" width="20" height="20"/>
                    </td>
                    <td>
                        @item.Product.ProductName
                    </td>
                    <td>
                        <strong>
                            @item.QuantityInDays.Sum(i => i.Quantity)
                        </strong>
                    </td>
                    @for (int j = 0; j < @item.QuantityInDays.Count; j++)
                    {
                        <td>
                            @item.QuantityInDays[j].Quantity
                        </td>
                    }
                </tr>
            }


        }


    </tbody> 
</table>

   



        




