@using System.Text
@using HotelBLL.Models.Report
 @model IncomeReportViewModel        
   
   <table class="table table-bordered table-striped table-fixed-header">
    <thead class="header" >
        <tr>
            <th>
                STT
            </th>
            <th>
                Thời gian
            </th>
            <th>
                Lượt thuê
            </th>
            <th>
                Tiền dịch vụ
            </th>
            <th>
                Tiền phòng
            </th>
            <th>
                Tổng phải thu
            </th>
            <th>
                Tổng đã duyệt
            </th>
            <th>
                Chênh lệch
            </th>
            <th>
                Tổng chưa duyệt
            </th>
       
        </tr>
    </thead>
    <tbody>
       @{
        int len = Model.IncomeItems.Count();
        StringBuilder valueBuilder = new StringBuilder("[");
        StringBuilder xAxisBuilder = new StringBuilder("[");
        int index;
        
        for (int i = 0; i < len; i++)
        {
            index = len - i - 1;
            IncomeReportItemModel item = Model.IncomeItems.ElementAt(index);
            int rentCount = item.RentCount;
            int orderFee = item.OrderFee;
            int rentFee = item.RentFee;
            int total = orderFee + rentFee; //Tổng phải thu
            int approvePayment = item.ApprovePayement;
            int unApprovePayment = item.UnApprovePayment;

            int remain = total - approvePayment;

            valueBuilder.Append(string.Format(@"[{0},{1}],", index, approvePayment));
            xAxisBuilder.Append(string.Format(@"[{0},'{1}'],", index, item.ReportDate.ToString("MM-yyyy")));

            <tr >
                <td>
                    @(i + 1)
                </td>
                <td>
           
                    @{
                        string s = item.ReportDate.ToString("MM-yyyy");
                        
                    }
                    @s
            
                </td>
                <td>
                    @rentCount
                </td>
                <td>
                    @orderFee.ToString("N0")
                </td>
                <td>
                    @rentFee.ToString("N0")
                </td>
                <td>
                    @total.ToString("N0")
                </td>
                <td>
                    @approvePayment.ToString("N0")
                </td>
                <td>
                    @remain.ToString("N0")
                </td>
                <td>
                    @unApprovePayment.ToString("N0")
                </td>
            </tr>
        }
}
    </tbody>
    
</table>
 
  @Html.Hidden("chart", @valueBuilder.ToString().Substring(0, valueBuilder.Length - 1) + "]")
@Html.Hidden("xAxis", @xAxisBuilder.ToString().Substring(0, xAxisBuilder.Length - 1) + "]")      




